/vendor/
/node_modules/
.env
.phpunit.result.cache
/public/storage
/storage/*.key
/storage/*.sqlite
/storage/framework/cache/data/
/storage/logs/
/storage/temp/
/.idea/
.vscode/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.sass-cache
/homestead.yaml
/Homestead.json
/.env.local
/.phpunit.result.cache
/.phpunit.cache
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
temp_images/
unique_images/
temp_*.php
*.tmp
